<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <form class="form-signin" action="http://localhost:3000/authenticate" onsubmit="loginPage(event)">
        <h1 class="h3 mb-3 font-weight-normal">Prisijungimas</h1>
        <label for="inputEmail" class="sr-only">El. pašto adresas</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="name@test.com" required autofocus name="email">
        <label for="inputPassword" class="sr-only">Slaptažodis</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Slaptažodis" required name="password">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Prisijungti</button>
    </form>

<script>
        const fetchData = async (url, method = 'GET', body = {}) =>{
            const options = {
                method,
                headers: {
                    'Content-Type': 'application/json'
                }
            }
            if(method != 'GET'){
                options.body = JSON.stringify(body)
            }
            const orders = await fetch(url, options)

            if(orders.status === 200){
                if(method == 'GET'){
                    return await orders.json()
                } else{
                    return true
                }
            } else {
                return false
            }
        }

        const loginPage = async (event) => {
            event.preventDefault()

            const url = event.target.getAttribute('action')
            const email = event.target.querySelector('input[name="email"]').value
            const password = event.target.querySelector('input[name="password"]').value

            if(await fetchData(url, 'POST', {
                email: email,
                password: password
            })) {
                console.log("Prisijungti pavyko")
                // window.location = '/admin' - nunaviguos i uzsakymu puslapi
                // window.location = '/admin'
                window.location = '/items'
            } else {
                console.log("Prisijungti nepavyko")
            }
        } 

</script>
</body>
</html>