<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div id="todolist"></div>
    <script>
        const editText = 'Redaguoti'
        const updateText = 'Atnaujinti'
        // fetch('http://localhost:3000/api/tasks/all')
        // // .then(resp => resp.json())
        // .then(async resp => {
        //     if(resp.status === 200){
        //         console.log(await resp.json())
        //     } else
        //     console.log('Nepavyko gauti duomenu')
        // })
        const fetchData = async (url, method = 'GET', body = {}) =>{
            const options = {
                method,
                headers: {
                    'Content-Type': 'application/json'
                }
            }
            if(method != 'GET'){
                options.body = JSON.stringify(body)
            }
            const tasks = await fetch(url, options)

            if(tasks.status === 200){
                if(method == 'GET'){
                    return await tasks.json()
                } else{
                    return true
                }
            } else {
                return false
            }
        }
const editTask = async (e) =>{
    const element = e.target
    const parent = element.parentNode.parentNode
    const id = parent.dataset.id
    // console.log(id)
    const task = parent.querySelector('.task-name')
    const taskName = task.innerText

    if(element.dataset.update){
        const taskName = task.querySelector('input').value
        if(await fetchData('http://localhost:3000/api/tasks/edit/' + id, 'PUT', {
            taskName 
        })){
            taskList('Užduotis sėkmingai atnaujinta')
        } else {
            taskList('Nepavyko atnaujinti užduoties', 'danger')
        }
        return
    }
    element.innerText = updateText
    element.classList.add('btn-success')
    element.dataset.update = true
    task.innerHTML = `<input type="text" class="form-control" value="${taskName}"> </input>`
}

const deleteTask = async (e) =>{
    const element = e.target
    const parent = element.parentNode.parentNode
    const id = parent.dataset.id
    // console.log(id)
    const task = parent.querySelector('.task-name')
    const taskName = task.innerText
    element.dataset.delete = true

    if(element.dataset.delete){
        if(await fetchData('http://localhost:3000/api/tasks/delete/' + id, 'DELETE'))
        {
            taskList('Užduotis sėkmingai ištrinta')
        } else {
            taskList('Užduoties ištrinti nepavyko', 'danger')
        }
        return
    }
}


        const taskList = async (message = '', status = 'success') => {
            const tasks = await fetchData('http://localhost:3000/api/tasks/all')
            // console.log(tasks)
            let html = ''

            if(message){
                html += `<div class="alert alert-${status}">${message}</div>`
            }
            html += `<table class="table mt-3 align-middle">
                <tbody>`

            tasks.map(task => {
                console.log(task)
                html +=  `<tr data-id="${task._id}">
                            <td class="task-name">
                                ${task.taskName}
                            </td>
                            <td class="text-end">
                                <button class="btn btn-primary" onclick="editTask(event)">${editText}</button>
                                <button class="btn btn-danger" onclick="deleteTask(event)">Trinti</button>
                            </td>
                        </tr>`
            })

            html += `</tbody></table>`
            document.querySelector('#todolist').innerHTML = html
        }

        taskList()

    </script>
</body>
</html>